.main-panel {
  padding: 30px 5px;
  min-height: 500px;
  background: $bg-white;
  border-radius: 30px 30px 0px 0px;

  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.list-countries {
  flex: 1;
  overflow-y: scroll;
}

.card {
  border: none;
}

.card-container{
  display: block;
  width: 100%;

  @include on-event{
    .blueCard{
      box-shadow: 20px 30px 30px rgba($primary-color, 0);

      .head{
        img{
          transform: translateX(5px);
        }
      }
    }
  }
}

.blueCard{
  display: block;
  width: 100%;
  padding: 0px 30px 50px 30px;
  background: $primary-color;
  box-shadow: 20px 30px 30px rgba($primary-color, 0.2);
  border-radius: 40px;
  transition: all ease 0.5s;

  .img-fluid{
    margin-top: -113px;
    margin-left: -25px;
  }
  
  .head{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    img{
      margin: 0;
      transition: all ease 0.5s;
    }
    h3{
      color: $white;
      font-size: 18px;
      margin-bottom: 0px;
    }
  }

  p{
    color: $white;
    margin: 0px;
  }
}

@media(min-width: 768px) {
  #root {
    display: flex;
    flex-direction: row;
    // height: 100vh;
  }

  .main-panel {
    padding: 50px 35px;
    flex: 1;
    border-radius: 50px 0px 0px 50px;

    display: flex;
    flex-direction: column;

    .cards-container {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .main-conatiner {
      flex: 1;

      >.row {
        height: 100%;

        .data-col {
          display: flex;
          flex-direction: column;

          .searcher {
            height: 100%;
            display: flex;
            flex-direction: column;
            // width: 310px;
            width: 250px;
          }
        }
      }
    }
  }
}

@media(min-width: 1200px){
  #root {
    min-height: 100vh;
  }
  
  .main-panel .main-conatiner > .row .data-col .searcher{
    width: 310px;
  }
}

@media(min-width: 1400px){
  .main-panel .main-conatiner > .row .data-col .searcher{
    width: 400px;
  }
}
