.main-panel{
  padding: 30px 5px;
  min-height: 500px;
  background: $bg-white;
  border-radius: 30px 30px 0px 0px;

  .cards-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media(min-width: 768px){
  #root{
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .main-panel{
    padding: 50px 35px;
    flex: 1;
    border-radius: 50px 0px 0px 50px;

    .cards-container{
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}